<div role="tabpanel" class="tab-pane config-section" id="settings">
	<form method="POST" autocomplete="off" class="w-100">
		<div class="form-group">
			<label>
				题目可见<br>
				<small class="form-text text-muted">
					控制用户是否必须登录才能看到题目
				</small>
			</label>
			<select class="form-control" name="challenge_visibility">
				<option value="public" {% if challenge_visibility == 'public' %}selected{% endif %}>
					公开
				</option>
				<option value="private" {% if challenge_visibility == 'private' %}selected{% endif %}>
					登陆可见
				</option>
				<option value="admins" {% if challenge_visibility == 'admins' %}selected{% endif %}>
					管理员可见
				</option>
			</select>
		</div>

		<div class="form-group">
			<label>
				排行可见<br>
				<small class="form-text text-muted">
					控制是向公众、登录用户、对所有非管理员隐藏还是仅向管理员显示进度/分数
				</small>
			</label>
			<select class="form-control" name="score_visibility">
				<option value="public" {% if score_visibility == 'public' %}selected{% endif %}>
					公开
				</option>
				<option value="private" {% if score_visibility == 'private' %}selected{% endif %}>
					登录可见
				</option>
				<option value="hidden" {% if score_visibility == 'hidden' %}selected{% endif %}>
					隐藏
				</option>
				<option value="admins" {% if score_visibility == 'admins' %}selected{% endif %}>
					管理员可见
				</option>
			</select>
			<small class="form-text text-muted">
				This setting should generally be the same as Account Visibility to avoid conflicts.
			</small>
		</div>

		<div class="form-group">
			<label>
				账户可见<br>
				<small class="form-text text-muted">
					控制是向所有人显示帐户（用户 &amp; 团队），还是仅向管理员显示帐户
				</small>
			</label>
			<select class="form-control" name="account_visibility">
				<option value="public" {% if account_visibility == 'public' %}selected{% endif %}>
					公开
				</option>
				<option value="private" {% if account_visibility == 'private' %}selected{% endif %}>
					登录可见
				</option>
				<option value="admins" {% if account_visibility == 'admins' %}selected{% endif %}>
					管理员可见
				</option>
			</select>
			<small class="form-text text-muted">
				此设置通常应与排行榜可见性相同，以避免冲突。
			</small>
		</div>

		<div class="form-group">
			<label>
				注册可见<br>
				<small class="form-text text-muted">
					控制是为所有人启用注册还是禁用注册
				</small>
			</label>
			<select class="form-control" name="registration_visibility">
				<option value="public" {% if registration_visibility == 'public' %}selected{% endif %}>
					公开
				</option>
				<option value="private" {% if registration_visibility == 'private' %}selected{% endif %}>
					禁止
				</option>
			</select>
		</div>

		<div class="form-group">
			<div class="form-check">
				<label>
					<input id="paused" name="paused" type="checkbox" {% if paused %}checked{% endif %}>
					中止CTF实训<br>
					<small>
						禁止用户在未暂停之前提交答案。题目仍然可以查看。
					</small>
				</label>
			</div>
		</div>

		<button type="submit" class="btn btn-md btn-primary float-right">生效</button>
	</form>
</div>